body {
  background-color: $color-primary-secondary;
}
.c-blog-post-list {
  @include no-bullet;
}

.c-blog-post-list__post {
  margin-bottom: $spacing-small;
  a {
    background-color: $color-white;
    display: block;
    padding-bottom: $spacing-small;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    border-radius: 10px;
    text-decoration: none;
    transition: all $duration-quickly  ease-in;
    &:hover {
      background-color: $color-white;
      border: $color-primary solid 1.5px;

    }
  }
}

.c-blog-post-list__post--title {
  display: inline-block;
}
