body {
  background-color: $color-white;
}
.c-blog-post-list {
  @include no-bullet;
}

.c-blog-post-list__post {
  margin-bottom: $spacing-small;
  a {
    background-color: $color-white;
    display: block;
    padding-bottom: $spacing-small;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    border-radius: 10px;
    text-decoration: none;
    transition: all $duration-quickly  ease-in;
  }
}

.c-blog-post-list__post--title {
  display: inline-block;
}

.logo {
  background: url('images/logo.png');
}
