.middle {
  background-color: $color-green-dark;
  float: left;
  height: 100px;
  width: 100px;
}

.right {
  background-color: $color-primary;
  float: left;
  height: 100px;
  width: 100px;
}

.positions {
  padding-bottom: 125px;
}

.content {
  clear: left;
  padding-bottom: 125px;
}

.static1 {
  background-color: $color-alert;
  float: left;
  height: 100px;
  position: static;
  width: 100px;
}

.relative1 {
  background-color: $color-alert;
  float: left;
  height: 100px;
  left: 30px;
  position: relative;
  width: 100px;
}

.fixed1 {
  background-color: $color-alert;
  bottom: 0;
  height: 100px;
  position: fixed;
  right: 0;
  width: 100px;
}

.sticky {
  background-color: $color-alert;
  height: 200px;
  position: sticky;
  top: 0;
  width: 200px;
}

.absolute1 {
  background-color: $color-alert;
  float: left;
  height: 100px;
  position: relative;
  width: 100px;
}

.absolute2 {
  background-color: $color-green-dark;
  height: 100px;
  position: absolute;
  right: 300px;
  top: 2400px;
  width: 100px;
}

.zindex1 {
  background-color: $color-alert;
  float: left;
  height: 100px;
  left: 50px;
  position: absolute;
  top: 2900px;
  width: 100px;
  z-index: 1;
}
