//style//

//all boxes//
.middle
{
width: 100px;
height: 100px;
background-color: #870c63;
float: left;
}

.right
{
width: 100px;
height: 100px;
background-color: #41c4eb;
float: left;
}

//content//
.positions
{
padding-bottom: 125px;
}

.content
{
  clear:left;
  padding-bottom: 125px;
}


//example positioning//
.static1
{
width: 100px;
height: 100px;
background-color: #ff6a6a;
float: left;
position: static;
}

.relative1
{
  width: 100px;
  height: 100px;
  background-color: #ff6a6a;
  float: left;
  position: relative;
  left: 30px;
}

.fixed1
{
  width: 100px;
  height: 100px;
  background-color: #ff6a6a;
  position: fixed;
  bottom: 0;
  right: 0;
}

.sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: #FFB9B9;
}

.absolute1
{
  width: 100px;
  height: 100px;
  background-color: #ff6a6a;
  float: left;
  position: relative;
}

.absolute2
{
  width: 100px;
  height: 100px;
  background-color: #870c63;
  position: absolute;
  top: 2400px;
  right: 300px;
}

.zindex1
{
  width: 100px;
  height: 100px;
  background-color: #ff6a6a;
  float: left;
  position: absolute;
  left: 50px;
  top: 2900px;
  z-index: 1;
}
