
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif:400,400i,700,700i|Work+Sans:400,500,600,700,900');

html {
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-text-small;
  color: $color-black;
  font-size: $font-size-text-small;
}

h1 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-text-small;

  @media screen and (min-width: 320px) {
    color: $color-orange-dark;
    font-size: $font-size-heading-xx-large;
    }

  @media screen and (min-width: 768px) {
    color: $color-green-dark;
    font-size: $font-size-heading-xxx-large;
    }
}

h2 {
  color: $color-green-dark;
  font-family: $font-family-heading;
  line-height: $line-height-text-small;

  @media screen and (min-width: 768px) {
    font-size: $font-size-heading-xxx-large;
    }

  @media screen and (min-width: 320px) {
    font-size: $font-size-heading-large;
    font-weight: $font-weight-semibold;
    }
}

h3 {
  color: $color-black;
  font-family: $font-family-heading;
  //padding-top: $spacing-medium;
  line-height: $line-height-text-small;


  @media screen and (min-width: 320px) {
    font-size: $font-size-heading-small;
    }

  @media screen and (min-width: 768px) {
    font-size: $font-size-heading-medium;
    }
}

h4 {
  color: $color-black;
  font-family: $font-family-heading;

  @media screen and (min-width: 320px) {
    font-size: $font-size-heading-xxx-small;
    }

  @media screen and (min-width: 768px) {
    font-size: $font-size-heading-x-small
    }
}

h5 {
  color: $color-black;
  font-family: $font-family-heading;

  @media screen and (min-width: 320px) {
    font-size: $font-size-heading-xx-small;
    }

  @media screen and (min-width: 768px) {
    font-size: $font-size-heading-xxxx-small;
    }
}

p {
  color: $color-black;
  font-family: $font-family-body;

  @media screen and (min-width: 320px) {
    font-size: $font-size-text-small;
    line-height: $line-height-text-small;
    }

  @media screen and (min-width: 768px) {
    font-size: $font-size-text-large;
    line-height: $line-height-text-large;
    }
}

  code {
    background-color: $color-silver;
    color: $color-alert;
    font-family: $font-family-monospace;
    font-size: $font-size-text-large;
  }
