
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700|PT+Mono|PT+Serif:400,400i,700,700i');


//Styles
html {
  font-family: $font-family-pt;
  font-weight: $font-weight-regular;
  line-height: $line-height-text-small;
  color: $color-black;
  font-size: $font-size-text-small;
}

h1 {
  font-family: $font-family-poppins;
  font-weight: $font-weight-bold;


  @media screen and (min-width: 320px) {
    color: $color-orange-dark;
    font-size: $font-size-heading-xx-large;
    }

  @media screen and (min-width: 768px) {
    color: $color-green-dark;
    font-size: $font-size-heading-xxx-large;
    }
}

@media screen and (min-width: 768px) {
  font-family: $font-family-poppins;
  color: $color-green-dark;
  font-size: $font-size-heading-xxx-large;
  }

@media screen and (min-width: 320px) {
h2 {
  font-family: $font-family-poppins;
  color: $color-green-dark;
  font-size: $font-size-heading-large;
  font-weight: $font-weight-semibold;

  }
}

@media screen and (min-width: 768px) {
h2 {
  font-family: $font-family-poppins;
  color: $color-orange-dark;
  font-size: $font-size-heading-x-large;
  font-weight: $font-weight-semibold;

  }
}

@media screen and (min-width: 320px) {
h3 {
  color: $color-black;
  font-family: $font-family-poppins;
  font-size: $font-size-heading-small;
  font-weight: normal;
  margin: 0;
  }
}

@media screen and (min-width: 768px) {
h3 {
  color: $color-black;
  font-family: $font-family-poppins;
  font-size: $font-size-heading-medium;
  font-weight: normal;
  margin: 0;
  }
}

@media screen and (min-width: 320px) {
  h4 {
    color: $color-black;
    font-family: $font-family-poppins;
    font-size: $font-size-heading-xxx-small;
    font-weight: normal;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  h4 {
    color: $color-black;
    font-family: $font-family-poppins;
    font-size: $font-size-heading-x-small;
    font-weight: normal;
    margin: 0;
  }
}


@media screen and (min-width: 320px) {
  h5 {
    color: $color-black;
    font-family: $font-family-poppins;
    font-size: $font-size-heading-xx-small;
    font-weight: normal;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  h5 {
    color: $color-black;
    font-family: $font-family-poppins;
    font-size: $font-size-heading-xxxx-small;
    font-weight: normal;
    margin: 0;
  }
}

@media screen and (min-width: 320px) {
  p {
    color: $color-black;
    font-family: $font-family-pt;
    font-size: $font-size-text-small;
    line-height: $line-height-text-small;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  p {
    color: $color-black;
    font-family: $font-family-pt;
    font-size: $font-size-text-large;
    line-height: $line-height-text-large;
    margin: 0;
  }
}


  code {
    background-color: $color-silver;
    font-family: $font-family-monospace;
    color: $color-alert;
    font-size: $font-size-text-large;
  }
